<div class="page">
  <app-navbar></app-navbar>

  <main>

    <div>
      <h1>Randomizador de cosas</h1>
    </div>

    <div>
      <p>Agrega un listado de algo (excel o un listado a mano) y escoge un elemento al azar.</p>
    </div>

    <div>
      <ul>
        <li>agregar todo</li>
        <li>habilitar para ordenar: cortar y numerar?</li>
        <li>mostrar bonito: escoger entre formatos predefinidos</li>
        <li>compartir como imagen</li>
      </ul>
    </div>
  
  </main>

  <app-footer></app-footer>
</div>