<div class="page">
  <app-navbar></app-navbar>

  <main>

    <div style="display: flex; flex-direction: column; justify-content: space-between;">

      <div style="margin: 2em;">
        <h1>Formulario contacto</h1>
      </div>

      <div>
        <form action="" style="display: flex; flex-direction: column; gap: 1em;">
          <label for="">primer campo
            <input type="text">
          </label>
          <label for="">segundo campo
            <input type="text">
          </label>
          <label for="">tercer campo
            <input type="text">
          </label>
          <label for="">cuarto campo
            <input type="text">
          </label>
        </form>
      </div>

    </div>
    
  </main>

  <app-footer></app-footer>
</div>