.navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 35, 145);
  color: white;
  align-items: center;
  flex-direction: column;
}

.navbar__content {
  display: flex;
  justify-content: space-between;
}

@media (width > 480px) {
  .navbar {
    flex-direction: row;
  }
}