<div style="margin: 3em;">

  <p>lista dentro de tabla, para poder poner mas detalle en cada elemento</p>

  <table>
    <thead>
      <th>col 1</th>
      <th>col 2</th>
      <th>col 3</th>
    </thead>
    <tbody>
      <tr>
        <td>fila 1</td>
        <td>fila 1</td>
        <td>fila 1</td>
      </tr>
      <tr>
        <td>fila 2</td>
        <td>fila 2</td>
        <td>fila 2</td>
      </tr>
      <tr>
        <td>fila 3</td>
        <td>fila 3</td>
        <td>fila 3</td>
      </tr>
    </tbody>
  </table>
</div>